<%= simple_form_for @advertisement, url: advertisements_path, method: :post, local: true do |form| %>
  <%= form.input :title, label: "Titre" %>
  <%= form.input :description, label: "Description" %>
  <%= form.input :price, label: "Prix" %>
  <%= form.input :address, label: "Address",
    input_html: {data: {address_autocomplete_target: "address"}},
  <%= form.input :address, label: "Adresse",
    input_html: {data: {address_autocomplete_target: "adresse"}, class: "d-none"},
    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
  <%= form.input :photo, label: "Photo", as: :file %>
  <div>
    <%= form.submit "Créer l'annonce" %>
  </div>
<% end %>
