<!-- app/views/advertisements/_form.html.erb -->
<%= simple_form_for @advertisement, url: advertisements_path, method: :post, local: true do |form| %>
  <%= form.input :title, label: "Titre" %>
  <%= form.input :description, label: "Description" %>
  <%= form.input :price, label: "Prix" %>
  <%= form.input :date, label: "Date", as: :date %>
  <%= form.input :photo, label: "Photo", as: :file %>
  <div>
    <%= form.submit "Créer l'annonce" %>
  </div>
<% end %>
