<<<<<<< HEAD

<%= link_to "Create an advertisement", new_advertisement_path(@advertisement), class: "btn btn-outline-dark m-3" %>

=======
<%= link_to "Create an advertisement", new_advertisement_path(@advertisement), class: "btn btn-outline-dark m-3" %>
>>>>>>> d3c090f96df4e61513b1283e5a83c07f8ef30851
<div class="row">
  <% @advertisements.each do |advertisement| %>
    <div class="col-md-4 mb-4">
      <%= link_to advertisement_path(advertisement), class: "card-link" do %>
        <div class="advertisement-card">
          <% if advertisement.photo.attached? %>
            <img src="<%= cl_image_path(advertisement.photo.key, width: 400, height: 300, crop: :fill) %>" alt="Advertisement Image">
          <% end %>
          <div class="advertisement-card-content">
            <h5 class="advertisement-card-title"><%= advertisement.title %></h5>
            <p class="advertisement-card-description"><%= advertisement.description %></p>
            <p class="advertisement-card-price"><strong><%= advertisement.price %></strong></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<<<<<<< HEAD

<%= link_to "Return to advertisements", advertisements_path(@advertisement), class: "btn btn-outline-dark m-3" %>



<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%# <div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div> %>
=======
>>>>>>> d3c090f96df4e61513b1283e5a83c07f8ef30851
