<section class="service">
<div class="cards">
<div class="service-left">
<p class="title">Notre Service</p>
<p class="text">Bienvenue chez Urfriendly, la plateforme qui va transformer votre vie sociale ! <br> <br>
three men in jacket laughing at each other
Nous savons que l'amitié est précieuse, c'est pourquoi nous vous offrons la possibilité de créer des liens et de vivre des moments inoubliables avec de véritables amis, sans les contraintes de l'engagement à long terme</p>
</div>
<div class="service-right">
  <%= image_tag "photo-1543807535-eceef0bc6599.avif" %>
</div>
</div>
</section>


<%# section histoire %>


<section class="histoire">
<div class="cards">
<div class="histoire-right">
  <%= image_tag "photo-1511376979163-f804dff7ad7b.avif" %>
</div>
<div class="histoire-left">
<p class="title">Notre Histoire</p>
<p class="text">Urfriendly a été créé avec une vision simple : rendre l'amitié accessible à tous <br><br>
Nous avons été inspiré par l'idée qu'il est parfois difficile de trouver des amis pour partager des activités, discuter ou simplement passer du temps de qualité. Il a compris que de nombreuses personnes traversent des périodes de solitude et de déconnexion, même au sein de sociétés de plus en plus connectées. <br><br>
C'est pourquoi Urfriendly a vu le jour, avec pour objectif de faire de l'amitié une expérience accessible à tout moment. Nous croyons que l'amitié n'a pas besoin d'être compliquée, qu'elle peut être fluide et adaptée à vos besoins.</p>
</div>

</div>
</section>

<%= link_to "Create an advertisement", new_advertisement_path(@advertisement), class: "btn btn-outline-dark m-3" %>



<%= link_to "Return to advertisements", advertisements_path(@advertisement), class: "btn btn-outline-dark m-3" %>



<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
