<%= link_to "Create an advertisement", new_advertisement_path(@advertisement), class: "btn btn-outline-dark m-3" %>
<div class="row">
  <% @advertisements.each do |advertisement| %>
    <div class="col-md-4 mb-4">
      <%= link_to advertisement_path(advertisement), class: "card-link" do %>
        <div class="advertisement-card">
          <% if advertisement.photo.attached? %>
            <img src="<%= cl_image_path(advertisement.photo.key, width: 400, height: 300, crop: :fill) %>" alt="Advertisement Image">
          <% end %>
          <div class="advertisement-card-content">
            <h5 class="advertisement-card-title"><%= advertisement.title %></h5>
            <p class="advertisement-card-description"><%= advertisement.description %></p>
            <p class="advertisement-card-price"><strong><%= advertisement.price %> €</strong></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
