
<h1><%= @advertisement.title %></h1>
<p><strong>Description:</strong> <%= @advertisement.description %></p>
<p><strong>Prix:</strong> <%= @advertisement.price %></p>


<!-- app/views/advertisements/show.html.erb -->
<div class="adver">
<div class="cards-advertisement">
<div class="advertisement-details">

<% if @advertisement.photo.attached? %>
<div class="card-left">
  <%= link_to advertisement_path(@advertisement) do %>
      <div class="image-container">
        <%= cl_image_tag @advertisement.photo.key, width: 400, height: 300, crop: :fill, class: "advertisement-image" %>
      </div>
    <% end %>
</div>
  <% end %>
  <div class="card-right">
   <h1><%= @advertisement.title %></h1>
  <p class="description"><%= @advertisement.description %></p>
  <p class="price"> <span>Prix :</span> <%= @advertisement.price %>€</p>
  <%= link_to "Réserver", advertisements_path(@advertisement), class: "btn btn-outline-dark m-3" %>
  </div>
</div>
</div>
<div class="adver">
<%= link_to "Return to advertisements", advertisements_path(@advertisement), class: "btn btn-outline-dark m-3" %>
</div>
