<h1><%= @advertisement.title %></h1>
<p><strong>Description:</strong> <%= @advertisement.description %></p>
<p><strong>Prix:</strong> <%= @advertisement.price %></p>
<p><strong>Date:</strong> <%= @advertisement.date %></p>

<% if @advertisement.photo.attached? %>
  <%= cl_image_tag @advertisement.photo.key ,  width: 100, height: 100, crop: :fill %>
<% end %>
