
<%= link_to "Return to advertisements", advertisements_path(@advertisement), class: "btn btn-outline-dark m-3" %>
<h2>Favoris</h2>
<h2>Mes annonces</h2>
<div class="card-container">
  <% @advertisements.each do |advertisement| %>
    <div class="card">
      <% if advertisement.photo.attached? %>
        <%= link_to advertisement_path(advertisement) do %>
          <div class="card-image">
            <%= cl_image_tag advertisement.photo.key, width: 280, height: 100, crop: :fill, class: "image-style" %>
          </div>
        <% end %>
      <% end %>
      <p><%= advertisement.title %></p>
      <p><%= advertisement.description %></p>
      <p><%= advertisement.price %></p>
      <%= button_to "Supprimer", advertisement_path(advertisement), method: :delete %>
    </div>
  <% end %>
</div>


<div class="card-container">
  <% @my_advertisements.each do |advertisement| %>
    <div class="card">
      <% if advertisement.photo.attached? %>
        <%= link_to advertisement_path(advertisement) do %>
          <div class="card-image">
            <%= cl_image_tag advertisement.photo.key, width: 280, height: 100, crop: :fill, class: "image-style" %>
          </div>
        <% end %>
      <% end %>
      <p><%= advertisement.title %></p>
      <p><%= advertisement.description %></p>
      <p><%= advertisement.price %></p>
       <% advertisement.bookings.each do |booking| %>
        <%= booking.user %>
        <%= booking.total_price %>
        <%= booking.status %>
        <%= link_to booking_accept_booking_path(booking) do %>
        ACCEPT BOOKING
        <% end %>
      <% end %>
      <%= button_to "Supprimer", advertisement_path(advertisement), method: :delete %>
    </div>
  <% end %>
</div>
